.img-Angy {
    background: lightblue;
    border-radius: 50%;
    width: 150px;
    height: 250px;
    text-align: center;
}
.t{
    color: aliceblue;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.cardAngy{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 18rem;
    background-color:#ec63ec;
    font-family: 'calibri';
}

.card3Angy{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 18rem;
    background-color:#ec63ec;
    font-family: 'calibri';
    position: relative;
    top: 30px;
    left: 60px;

}
.card4Angy{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 18rem;
    background-color:#ec63ec;
    font-family: 'calibri';
    position: relative;
    top: -250px;
    left: 600px;

}
.card5Angy{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 18rem;
    background-color:#ec63ec;
    font-family: 'calibri';
    position: relative;
    top: -480px;
    left: 1100px;

}



.container7{
    display: flex;
    justify-content: center;
}



.img3{
    width: 300px;
    height: 300px;
    position: relative;
    left: 500px;
}
.img4{
    width: 300px;
    height: 300px;
    position: relative;
    left: 900px;
}
.img5{
    width: 300px;
    height: 300px;
    position: relative;
    left: -500px;
    top: 300px;
}


