.cards{
    border: 5px solid sienna;
}

.cente{
    text-align: center;
    background-color: rgb(19, 7, 87);
}

.card-img-to{
    background-color: rgb(10, 11, 68);
}

.card-bodi{
    background-color: bisque;
}

.card-titl{
    background-color: rgb(251, 242, 255);
}

.card-heade{
    background-color: rgb(116, 174, 221);
}