.cards{
    border: 5px solid rgb(101, 219, 140);
}

.cente{
    text-align: center;
    background-color: rgb(201, 201, 198);
}

.card-img-to{
    background-color: rgb(240, 245, 240);
}

.card-bodi{
    background-color: rgb(56, 147, 153);
}

.card-titl{
    background-color: rgb(166, 240, 203);
}

.card-heade{
    background-color: rgb(38, 162, 167);
}