.cards{
    border: 5px solid rgb(50, 238, 59);
}

.cente{
    text-align: center;
    background-color: rgb(75, 111, 228);
}

.card-img-to{
    background-color: bisque;
}

.card-bodi{
    background-color: rgb(91, 233, 98);
}

.card-titl{
    background-color: rgb(245, 233, 69);
}

.card-heade{
    background-color: rgb(211, 236, 64);
}