body{
    background-color: tan;
}

.d2{
    margin-top: 100px;
    /* podemos alinear todos los elementos que están dentro del mismo. */
    display: flex;
    /* Distribuir items uniformemente
    El primer item al inicio, el último al final */
    justify-content: space-between;
}

.d3{
    margin-top: 100px;
    display: flex;
    /* Distribuir items uniformemente
    Los items tienen el mismo espacio a su alrededor */
    justify-content: space-around;
    /* margin-bottom: 50px; */
}


.d10{
    margin-top: 100px;
    /* podemos alinear todos los elementos que están dentro del mismo. */
    display: flex;
    /* Distribuir items uniformemente
    El primer item al inicio, el último al final */
    justify-content: space-between;
}